/* NOTE: justify-content : Controls the alignment of all items on the main axis.  */
/*       align-items     : Controls the alignment of all items on the cross axis. */

@media only screen and (min-width: 650px) {

    #myButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin: 1rem 0 0.5rem 0;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        ;
    }

    nav {
        grid-template-rows: 1fr;

    }

    /* main {
        grid-template-columns: 1fr 1fr;
    } */

    .pad {
        margin: 1rem 0 0.5rem 0;
        text-align: center;
    }

    header {
        flex-direction: row;       /* Align items horizontally */
        text-align: center; /* Align items to the left */
    }

    header img {
        height: 30px;   /* Make logo smaller on mobile */
    }

    header h1 {
        font-size: 1rem; /* Reduce font size for smaller screens */
    }
}
@media only screen and (max-width: 768px) {
    header{
        
        text-align: center;
        align-items: center;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    .container {
        grid-template-columns: 1fr;
    }
 }